BetBud/MVCBetBud/Service References/ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" />
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" />
  <xs:element name="TilføjKamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" minOccurs="0" name="kupon" nillable="true" type="q1:Kupon" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" minOccurs="0" name="kamp" nillable="true" type="q2:Kamp" />
        <xs:element minOccurs="0" name="valgt1" type="xs:boolean" />
        <xs:element minOccurs="0" name="valgtX" type="xs:boolean" />
        <xs:element minOccurs="0" name="valgt2" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TilføjKampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" minOccurs="0" name="TilføjKampResult" nillable="true" type="q3:Kupon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FjernKamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" minOccurs="0" name="kamp" nillable="true" type="q4:Kamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FjernKampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FjernKampResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OddsUdregning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OddsUdregningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OddsUdregningResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MuligGevist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MuligGevistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MuligGevistResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BekræftKupon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BekræftKuponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BekræftKuponResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindKamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KampId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindKampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" minOccurs="0" name="FindKampResult" nillable="true" type="q5:Kamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleKampe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlleKampeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" minOccurs="0" name="GetAlleKampeResult" nillable="true" type="q6:ArrayOfKamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NyKupon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NyKuponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" minOccurs="0" name="NyKuponResult" nillable="true" type="q7:Kupon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBruger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrugerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="getBrugerResult" nillable="true" type="q8:Bruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrugerEfterBrugernavn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bnavn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrugerEfterBrugernavnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="getBrugerEfterBrugernavnResult" nillable="true" type="q9:Bruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrugere">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrugereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="getBrugereResult" nillable="true" type="q10:ArrayOfBruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opretBruger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="bruger" nillable="true" type="q11:Bruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opretBrugerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="opdaterBruger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="bruger" nillable="true" type="q12:Bruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opdaterBrugerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sletBruger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sletBrugerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logInd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bNavn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logIndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="logIndResult" nillable="true" type="q13:Bruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>