BetBud/MVCBetBud/Service References/ServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Kamp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aflyst" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoldVsHold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KampId" type="xs:int" />
      <xs:element minOccurs="0" name="KampStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Odds1" type="xs:double" />
      <xs:element minOccurs="0" name="Odds2" type="xs:double" />
      <xs:element minOccurs="0" name="OddsX" type="xs:double" />
      <xs:element minOccurs="0" name="Vundet1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vundet2" type="xs:boolean" />
      <xs:element minOccurs="0" name="VundetX" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kamp" nillable="true" type="tns:Kamp" />
  <xs:complexType name="ArrayOfKamp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kamp" nillable="true" type="tns:Kamp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKamp" nillable="true" type="tns:ArrayOfKamp" />
</xs:schema>