BetBud/BetBudTest/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bruger">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrugerId" type="xs:int" />
      <xs:element minOccurs="0" name="BrugerNavn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Navn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bruger" nillable="true" type="tns:Bruger" />
  <xs:complexType name="ArrayOfBruger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bruger" nillable="true" type="tns:Bruger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBruger" nillable="true" type="tns:ArrayOfBruger" />
</xs:schema>