BetBud/BetBudTest/Service References/ServiceReference1/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Kupon" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_TilføjKamp_InputUserMessage">
    <wsdl:part name="parameters" element="tns:TilføjKamp" />
  </wsdl:message>
  <wsdl:message name="IServices_TilføjKamp_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:TilføjKampResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_FjernKamp_InputUserMessage">
    <wsdl:part name="parameters" element="tns:FjernKamp" />
  </wsdl:message>
  <wsdl:message name="IServices_FjernKamp_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:FjernKampResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_OddsUdregning_InputUserMessage">
    <wsdl:part name="parameters" element="tns:OddsUdregning" />
  </wsdl:message>
  <wsdl:message name="IServices_OddsUdregning_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:OddsUdregningResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_MuligGevist_InputUserMessage">
    <wsdl:part name="parameters" element="tns:MuligGevist" />
  </wsdl:message>
  <wsdl:message name="IServices_MuligGevist_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:MuligGevistResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_BekræftKupon_InputUserMessage">
    <wsdl:part name="parameters" element="tns:BekræftKupon" />
  </wsdl:message>
  <wsdl:message name="IServices_BekræftKupon_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:BekræftKuponResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_FindKamp_InputUserMessage">
    <wsdl:part name="parameters" element="tns:FindKamp" />
  </wsdl:message>
  <wsdl:message name="IServices_FindKamp_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:FindKampResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAlleKampe_InputUserMessage">
    <wsdl:part name="parameters" element="tns:GetAlleKampe" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAlleKampe_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:GetAlleKampeResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getBruger_InputUserMessage">
    <wsdl:part name="parameters" element="tns:getBruger" />
  </wsdl:message>
  <wsdl:message name="IServices_getBruger_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:getBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getBrugerEfterBrugernavn_InputUserMessage">
    <wsdl:part name="parameters" element="tns:getBrugerEfterBrugernavn" />
  </wsdl:message>
  <wsdl:message name="IServices_getBrugerEfterBrugernavn_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:getBrugerEfterBrugernavnResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getBrugere_InputUserMessage">
    <wsdl:part name="parameters" element="tns:getBrugere" />
  </wsdl:message>
  <wsdl:message name="IServices_getBrugere_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:getBrugereResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_opretBruger_InputUserMessage">
    <wsdl:part name="parameters" element="tns:opretBruger" />
  </wsdl:message>
  <wsdl:message name="IServices_opretBruger_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:opretBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_opdaterBruger_InputUserMessage">
    <wsdl:part name="parameters" element="tns:opdaterBruger" />
  </wsdl:message>
  <wsdl:message name="IServices_opdaterBruger_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:opdaterBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_sletBruger_InputUserMessage">
    <wsdl:part name="parameters" element="tns:sletBruger" />
  </wsdl:message>
  <wsdl:message name="IServices_sletBruger_OutputUserMessage">
    <wsdl:part name="parameters" element="tns:sletBrugerResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="TilføjKamp">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/TilføjKamp" message="tns:IServices_TilføjKamp_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/TilføjKampResponse" message="tns:IServices_TilføjKamp_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="FjernKamp">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/FjernKamp" message="tns:IServices_FjernKamp_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/FjernKampResponse" message="tns:IServices_FjernKamp_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="OddsUdregning">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/OddsUdregning" message="tns:IServices_OddsUdregning_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/OddsUdregningResponse" message="tns:IServices_OddsUdregning_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="MuligGevist">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/MuligGevist" message="tns:IServices_MuligGevist_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/MuligGevistResponse" message="tns:IServices_MuligGevist_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="BekræftKupon">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/BekræftKupon" message="tns:IServices_BekræftKupon_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/BekræftKuponResponse" message="tns:IServices_BekræftKupon_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindKamp">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/FindKamp" message="tns:IServices_FindKamp_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/FindKampResponse" message="tns:IServices_FindKamp_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlleKampe">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/GetAlleKampe" message="tns:IServices_GetAlleKampe_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetAlleKampeResponse" message="tns:IServices_GetAlleKampe_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBruger">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/getBruger" message="tns:IServices_getBruger_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getBrugerResponse" message="tns:IServices_getBruger_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBrugerEfterBrugernavn">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/getBrugerEfterBrugernavn" message="tns:IServices_getBrugerEfterBrugernavn_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getBrugerEfterBrugernavnResponse" message="tns:IServices_getBrugerEfterBrugernavn_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBrugere">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/getBrugere" message="tns:IServices_getBrugere_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getBrugereResponse" message="tns:IServices_getBrugere_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="opretBruger">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/opretBruger" message="tns:IServices_opretBruger_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/opretBrugerResponse" message="tns:IServices_opretBruger_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="opdaterBruger">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/opdaterBruger" message="tns:IServices_opdaterBruger_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/opdaterBrugerResponse" message="tns:IServices_opdaterBruger_OutputUserMessage" />
    </wsdl:operation>
    <wsdl:operation name="sletBruger">
      <wsdl:stringMessageInput wsaw:Action="http://tempuri.org/IServices/sletBruger" message="tns:IServices_sletBruger_InputUserMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/sletBrugerResponse" message="tns:IServices_sletBruger_OutputUserMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TilføjKamp">
      <soap:operation soapAction="http://tempuri.org/IServices/TilføjKamp" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FjernKamp">
      <soap:operation soapAction="http://tempuri.org/IServices/FjernKamp" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OddsUdregning">
      <soap:operation soapAction="http://tempuri.org/IServices/OddsUdregning" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MuligGevist">
      <soap:operation soapAction="http://tempuri.org/IServices/MuligGevist" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BekræftKupon">
      <soap:operation soapAction="http://tempuri.org/IServices/BekræftKupon" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindKamp">
      <soap:operation soapAction="http://tempuri.org/IServices/FindKamp" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlleKampe">
      <soap:operation soapAction="http://tempuri.org/IServices/GetAlleKampe" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBruger">
      <soap:operation soapAction="http://tempuri.org/IServices/getBruger" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrugerEfterBrugernavn">
      <soap:operation soapAction="http://tempuri.org/IServices/getBrugerEfterBrugernavn" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrugere">
      <soap:operation soapAction="http://tempuri.org/IServices/getBrugere" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opretBruger">
      <soap:operation soapAction="http://tempuri.org/IServices/opretBruger" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opdaterBruger">
      <soap:operation soapAction="http://tempuri.org/IServices/opdaterBruger" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sletBruger">
      <soap:operation soapAction="http://tempuri.org/IServices/sletBruger" style="document" />
      <wsdl:stringMessageInput>
        <soap:body use="literal" />
      </wsdl:stringMessageInput>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost:8733/Services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>