BetBud/AdminPanel/Service References/ServiceReference1/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLibrary.SeasonInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLibrary.SeasonInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SæsonBeskrivelse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beskrivelse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlutDato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SæsonBeskrivelseId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SæsonBeskrivelse" nillable="true" type="tns:SæsonBeskrivelse" />
</xs:schema>