BetBud/AdminPanel/Service References/ServiceReference1/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Models.S%C3%A6son" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Models.Kupon" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Models.Bruger" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_RedigerBeskrivelse_InputMessage">
    <wsdl:part name="parameters" element="tns:RedigerBeskrivelse" />
  </wsdl:message>
  <wsdl:message name="IServices_RedigerBeskrivelse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedigerBeskrivelseResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_HentBeskrivelse_InputMessage">
    <wsdl:part name="parameters" element="tns:HentBeskrivelse" />
  </wsdl:message>
  <wsdl:message name="IServices_HentBeskrivelse_OutputMessage">
    <wsdl:part name="parameters" element="tns:HentBeskrivelseResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_AfslutSæson_InputMessage">
    <wsdl:part name="parameters" element="tns:AfslutSæson" />
  </wsdl:message>
  <wsdl:message name="IServices_AfslutSæson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AfslutSæsonResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetSeasonId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonId" />
  </wsdl:message>
  <wsdl:message name="IServices_GetSeasonId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeasonIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_TilføjKamp_InputMessage">
    <wsdl:part name="parameters" element="tns:TilføjKamp" />
  </wsdl:message>
  <wsdl:message name="IServices_TilføjKamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:TilføjKampResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_FjernKamp_InputMessage">
    <wsdl:part name="parameters" element="tns:FjernKamp" />
  </wsdl:message>
  <wsdl:message name="IServices_FjernKamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:FjernKampResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_OddsUdregning_InputMessage">
    <wsdl:part name="parameters" element="tns:OddsUdregning" />
  </wsdl:message>
  <wsdl:message name="IServices_OddsUdregning_OutputMessage">
    <wsdl:part name="parameters" element="tns:OddsUdregningResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_MuligGevist_InputMessage">
    <wsdl:part name="parameters" element="tns:MuligGevist" />
  </wsdl:message>
  <wsdl:message name="IServices_MuligGevist_OutputMessage">
    <wsdl:part name="parameters" element="tns:MuligGevistResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_BekræftKupon_InputMessage">
    <wsdl:part name="parameters" element="tns:BekræftKupon" />
  </wsdl:message>
  <wsdl:message name="IServices_BekræftKupon_OutputMessage">
    <wsdl:part name="parameters" element="tns:BekræftKuponResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_FindKamp_InputMessage">
    <wsdl:part name="parameters" element="tns:FindKamp" />
  </wsdl:message>
  <wsdl:message name="IServices_FindKamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindKampResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAlleKampe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlleKampe" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAlleKampe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlleKampeResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAlleKuponer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlleKuponer" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAlleKuponer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlleKuponerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_NyKupon_InputMessage">
    <wsdl:part name="parameters" element="tns:NyKupon" />
  </wsdl:message>
  <wsdl:message name="IServices_NyKupon_OutputMessage">
    <wsdl:part name="parameters" element="tns:NyKuponResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetKampFromApi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKampFromApi" />
  </wsdl:message>
  <wsdl:message name="IServices_GetKampFromApi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKampFromApiResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getIkkeSpilletKampe_InputMessage">
    <wsdl:part name="parameters" element="tns:getIkkeSpilletKampe" />
  </wsdl:message>
  <wsdl:message name="IServices_getIkkeSpilletKampe_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIkkeSpilletKampeResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getBruger_InputMessage">
    <wsdl:part name="parameters" element="tns:getBruger" />
  </wsdl:message>
  <wsdl:message name="IServices_getBruger_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getBrugerEfterBrugernavn_InputMessage">
    <wsdl:part name="parameters" element="tns:getBrugerEfterBrugernavn" />
  </wsdl:message>
  <wsdl:message name="IServices_getBrugerEfterBrugernavn_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBrugerEfterBrugernavnResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getBrugere_InputMessage">
    <wsdl:part name="parameters" element="tns:getBrugere" />
  </wsdl:message>
  <wsdl:message name="IServices_getBrugere_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBrugereResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_opretBruger_InputMessage">
    <wsdl:part name="parameters" element="tns:opretBruger" />
  </wsdl:message>
  <wsdl:message name="IServices_opretBruger_OutputMessage">
    <wsdl:part name="parameters" element="tns:opretBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_opdaterBruger_InputMessage">
    <wsdl:part name="parameters" element="tns:opdaterBruger" />
  </wsdl:message>
  <wsdl:message name="IServices_opdaterBruger_OutputMessage">
    <wsdl:part name="parameters" element="tns:opdaterBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_sletBruger_InputMessage">
    <wsdl:part name="parameters" element="tns:sletBruger" />
  </wsdl:message>
  <wsdl:message name="IServices_sletBruger_OutputMessage">
    <wsdl:part name="parameters" element="tns:sletBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_logInd_InputMessage">
    <wsdl:part name="parameters" element="tns:logInd" />
  </wsdl:message>
  <wsdl:message name="IServices_logInd_OutputMessage">
    <wsdl:part name="parameters" element="tns:logIndResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_getHighscores_InputMessage">
    <wsdl:part name="parameters" element="tns:getHighscores" />
  </wsdl:message>
  <wsdl:message name="IServices_getHighscores_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHighscoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_FeedBackReservedNames_InputMessage">
    <wsdl:part name="parameters" element="tns:FeedBackReservedNames" />
  </wsdl:message>
  <wsdl:message name="IServices_FeedBackReservedNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeedBackReservedNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="RedigerBeskrivelse">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/RedigerBeskrivelse" message="tns:IServices_RedigerBeskrivelse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/RedigerBeskrivelseResponse" message="tns:IServices_RedigerBeskrivelse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HentBeskrivelse">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/HentBeskrivelse" message="tns:IServices_HentBeskrivelse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/HentBeskrivelseResponse" message="tns:IServices_HentBeskrivelse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AfslutSæson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/AfslutSæson" message="tns:IServices_AfslutSæson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/AfslutSæsonResponse" message="tns:IServices_AfslutSæson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeasonId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetSeasonId" message="tns:IServices_GetSeasonId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetSeasonIdResponse" message="tns:IServices_GetSeasonId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TilføjKamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/TilføjKamp" message="tns:IServices_TilføjKamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/TilføjKampResponse" message="tns:IServices_TilføjKamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FjernKamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/FjernKamp" message="tns:IServices_FjernKamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/FjernKampResponse" message="tns:IServices_FjernKamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OddsUdregning">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/OddsUdregning" message="tns:IServices_OddsUdregning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/OddsUdregningResponse" message="tns:IServices_OddsUdregning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MuligGevist">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/MuligGevist" message="tns:IServices_MuligGevist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/MuligGevistResponse" message="tns:IServices_MuligGevist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BekræftKupon">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/BekræftKupon" message="tns:IServices_BekræftKupon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/BekræftKuponResponse" message="tns:IServices_BekræftKupon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindKamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/FindKamp" message="tns:IServices_FindKamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/FindKampResponse" message="tns:IServices_FindKamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlleKampe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetAlleKampe" message="tns:IServices_GetAlleKampe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetAlleKampeResponse" message="tns:IServices_GetAlleKampe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlleKuponer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetAlleKuponer" message="tns:IServices_GetAlleKuponer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetAlleKuponerResponse" message="tns:IServices_GetAlleKuponer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NyKupon">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/NyKupon" message="tns:IServices_NyKupon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/NyKuponResponse" message="tns:IServices_NyKupon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKampFromApi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetKampFromApi" message="tns:IServices_GetKampFromApi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetKampFromApiResponse" message="tns:IServices_GetKampFromApi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIkkeSpilletKampe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/getIkkeSpilletKampe" message="tns:IServices_getIkkeSpilletKampe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getIkkeSpilletKampeResponse" message="tns:IServices_getIkkeSpilletKampe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBruger">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/getBruger" message="tns:IServices_getBruger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getBrugerResponse" message="tns:IServices_getBruger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBrugerEfterBrugernavn">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/getBrugerEfterBrugernavn" message="tns:IServices_getBrugerEfterBrugernavn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getBrugerEfterBrugernavnResponse" message="tns:IServices_getBrugerEfterBrugernavn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBrugere">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/getBrugere" message="tns:IServices_getBrugere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getBrugereResponse" message="tns:IServices_getBrugere_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="opretBruger">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/opretBruger" message="tns:IServices_opretBruger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/opretBrugerResponse" message="tns:IServices_opretBruger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="opdaterBruger">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/opdaterBruger" message="tns:IServices_opdaterBruger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/opdaterBrugerResponse" message="tns:IServices_opdaterBruger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sletBruger">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/sletBruger" message="tns:IServices_sletBruger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/sletBrugerResponse" message="tns:IServices_sletBruger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logInd">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/logInd" message="tns:IServices_logInd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/logIndResponse" message="tns:IServices_logInd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHighscores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/getHighscores" message="tns:IServices_getHighscores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/getHighscoresResponse" message="tns:IServices_getHighscores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FeedBackReservedNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/FeedBackReservedNames" message="tns:IServices_FeedBackReservedNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/FeedBackReservedNamesResponse" message="tns:IServices_FeedBackReservedNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RedigerBeskrivelse">
      <soap:operation soapAction="http://tempuri.org/IServices/RedigerBeskrivelse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HentBeskrivelse">
      <soap:operation soapAction="http://tempuri.org/IServices/HentBeskrivelse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AfslutSæson">
      <soap:operation soapAction="http://tempuri.org/IServices/AfslutSæson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeasonId">
      <soap:operation soapAction="http://tempuri.org/IServices/GetSeasonId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TilføjKamp">
      <soap:operation soapAction="http://tempuri.org/IServices/TilføjKamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FjernKamp">
      <soap:operation soapAction="http://tempuri.org/IServices/FjernKamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OddsUdregning">
      <soap:operation soapAction="http://tempuri.org/IServices/OddsUdregning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MuligGevist">
      <soap:operation soapAction="http://tempuri.org/IServices/MuligGevist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BekræftKupon">
      <soap:operation soapAction="http://tempuri.org/IServices/BekræftKupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindKamp">
      <soap:operation soapAction="http://tempuri.org/IServices/FindKamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlleKampe">
      <soap:operation soapAction="http://tempuri.org/IServices/GetAlleKampe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlleKuponer">
      <soap:operation soapAction="http://tempuri.org/IServices/GetAlleKuponer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NyKupon">
      <soap:operation soapAction="http://tempuri.org/IServices/NyKupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKampFromApi">
      <soap:operation soapAction="http://tempuri.org/IServices/GetKampFromApi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIkkeSpilletKampe">
      <soap:operation soapAction="http://tempuri.org/IServices/getIkkeSpilletKampe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBruger">
      <soap:operation soapAction="http://tempuri.org/IServices/getBruger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrugerEfterBrugernavn">
      <soap:operation soapAction="http://tempuri.org/IServices/getBrugerEfterBrugernavn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrugere">
      <soap:operation soapAction="http://tempuri.org/IServices/getBrugere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opretBruger">
      <soap:operation soapAction="http://tempuri.org/IServices/opretBruger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opdaterBruger">
      <soap:operation soapAction="http://tempuri.org/IServices/opdaterBruger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sletBruger">
      <soap:operation soapAction="http://tempuri.org/IServices/sletBruger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logInd">
      <soap:operation soapAction="http://tempuri.org/IServices/logInd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHighscores">
      <soap:operation soapAction="http://tempuri.org/IServices/getHighscores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedBackReservedNames">
      <soap:operation soapAction="http://tempuri.org/IServices/FeedBackReservedNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost:8733/Services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>