BetBud/MVCBetBud/Service References/BrugerServiceReference/BrugerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrugerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrugerService_getBruger_InputMessage">
    <wsdl:part name="parameters" element="tns:getBruger" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_getBruger_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_getBrugere_InputMessage">
    <wsdl:part name="parameters" element="tns:getBrugere" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_getBrugere_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBrugereResponse" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_opretBruger_InputMessage">
    <wsdl:part name="parameters" element="tns:opretBruger" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_opretBruger_OutputMessage">
    <wsdl:part name="parameters" element="tns:opretBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_opdaterBruger_InputMessage">
    <wsdl:part name="parameters" element="tns:opdaterBruger" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_opdaterBruger_OutputMessage">
    <wsdl:part name="parameters" element="tns:opdaterBrugerResponse" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_sletBruger_InputMessage">
    <wsdl:part name="parameters" element="tns:sletBruger" />
  </wsdl:message>
  <wsdl:message name="IBrugerService_sletBruger_OutputMessage">
    <wsdl:part name="parameters" element="tns:sletBrugerResponse" />
  </wsdl:message>
  <wsdl:portType name="IBrugerService">
    <wsdl:operation name="getBruger">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrugerService/getBruger" message="tns:IBrugerService_getBruger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrugerService/getBrugerResponse" message="tns:IBrugerService_getBruger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBrugere">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrugerService/getBrugere" message="tns:IBrugerService_getBrugere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrugerService/getBrugereResponse" message="tns:IBrugerService_getBrugere_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="opretBruger">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrugerService/opretBruger" message="tns:IBrugerService_opretBruger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrugerService/opretBrugerResponse" message="tns:IBrugerService_opretBruger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="opdaterBruger">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrugerService/opdaterBruger" message="tns:IBrugerService_opdaterBruger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrugerService/opdaterBrugerResponse" message="tns:IBrugerService_opdaterBruger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sletBruger">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrugerService/sletBruger" message="tns:IBrugerService_sletBruger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrugerService/sletBrugerResponse" message="tns:IBrugerService_sletBruger_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBrugerService" type="tns:IBrugerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBruger">
      <soap:operation soapAction="http://tempuri.org/IBrugerService/getBruger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBrugere">
      <soap:operation soapAction="http://tempuri.org/IBrugerService/getBrugere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opretBruger">
      <soap:operation soapAction="http://tempuri.org/IBrugerService/opretBruger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opdaterBruger">
      <soap:operation soapAction="http://tempuri.org/IBrugerService/opdaterBruger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sletBruger">
      <soap:operation soapAction="http://tempuri.org/IBrugerService/sletBruger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrugerService">
    <wsdl:port name="BasicHttpBinding_IBrugerService" binding="tns:BasicHttpBinding_IBrugerService">
      <soap:address location="http://localhost:8733/BrugerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>