BetBud/MVCBetBud/Service References/BrugerServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" />
  <xs:element name="getBruger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrugerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="getBrugerResult" nillable="true" type="q1:Bruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrugere">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrugereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="getBrugereResult" nillable="true" type="q2:ArrayOfBruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opretBruger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="bruger" nillable="true" type="q3:Bruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opretBrugerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="opdaterBruger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelLibrary.Bruger" minOccurs="0" name="bruger" nillable="true" type="q4:Bruger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opdaterBrugerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sletBruger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sletBrugerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>